<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.lhwdev.selfTestMacro.modules.app_base">
	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	
	<application>
		<receiver android:name="com.lhwdev.selfTestMacro.repository.AlarmReceiver" />
		
		<service android:name="com.lhwdev.selfTestMacro.repository.ScheduleService" />
	</application>
</manifest>
